<div class="navbar-header">
  <%= link_to "Sedus v0.1", root_path, class: "navbar-brand" %>
</div>
<ul class="nav navbar-top-links navbar-right">
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      <i class="fa fa-user fa-fw"></i>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
      <li>
        <%= link_to destroy_collaborator_session_path, method: :delete do %>
        <i class="fa fa-sign-out fa-fw"></i>Salir
        <% end %>
      </li>
    </ul>
  </li>
</ul>